{% extends "base.html" %}
{% load static %}
{% block content %}


            <h2 class="title">Password Reset</h2>
            
  <br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Send Email</button>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock %}